{% extends "base.html" %}
{% block title %}Error{% endblock %}
{% block body %}
    <main class="container py-4 d-flex flex-column justify-content-center align-items-center text-center">
        <h2 class="display-4 mt-4 text-shadow">Error {{ error_code }}</h2>
        <p class="lead text-shadow">{{ error_message }}</p>
        <a class="btn btn-outline-dark mb-4" href="/">Back to <span class="instabook-logo"><span class="insta">Ins<span class="short-letter">t</span>a</span><span class="book">book</span></span> home</a>
    </main>
{% endblock %}
